/* Untuk Tablet */
@media all and (max-width: 1000px) {
  
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  
  /* Responsive Artanto */
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  .header-left h1 {
    font-size: 25px;
    padding-top: 5px;
  }
}